<p style="color: green"><%= notice %></p>

<p>
    <strong>First name:</strong>
    <%= @author.first_name %>
</p>

<p>
    <strong>Last name:</strong>
    <%= @author.last_name %>
</p>

<p>
    <strong>Homepage:</strong>
    <%= link_to @author.homepage, @author.homepage %>
</p>

<div>
    <%= link_to 'Back to authors', authors_path %> |
    <%= link_to "Edit this author", edit_author_path(@author) %>
</div>

<br>

<%= button_to "Delete this author", @author, method: :delete %>