<div id="<%= dom_id paper %>">
  <p>
    <strong>Title:</strong>
    <%= paper.title %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= paper.venue %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= paper.year %>
  </p>

  <% if paper.authors.present? %>
    <p>
      <strong>Author(s):</strong>
      <ul>
        <% paper.authors.each do |author| %>
          <li><%= author.name %></li>
        <% end %>
      </ul>
    </p>
  </div>
<% end %>
